.logo {
	margin-left: 10px;
	width: calc(29px * var(--size, 1));
	height: calc(34px * var(--size, 1));
	position: relative;
	pointer-events: none;
	> .wrapper {
		position: absolute;
		left: 0px;
		top: calc(5px * var(--size, 1));
		width: calc(24.43px * var(--size, 1));
		height: calc(14.5px * var(--size, 1));
		transform: scale(2);
	}
}
