.main{
    min-height: 50vh;
    overflow-x: hidden;
    transition: 0.2s;
    transition-property: background-color;
    &.light{
        background-color: #FFFFFF;
    }
    &.dark{
        background-color:#474747;
    }
}