.button {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background-color: var(--primary);
	border: none;
	position: relative;
	&.light {
		--primary: #f0f0f0;
		--secondary: #333333;
	}
	&.dark {
		--primary: #474747;
		--secondary: #f0f0f0;
	}
	transition: 0.2s;
	transition-property: background-color;
	> div {
		background-color: var(--secondary);
		height: 2px;
		border-radius: 3;
		transition: 0.2s;
		transition-property: background-color;
	}
	&.open > div {
		width: 20px;
		left: 5px;
		&:nth-child(1) {
			position: relative;
			top: 2px;
			transform: rotate(45deg);
		}
		&:nth-child(2) {
			position: relative;
			opacity: 0;
			top: 0px;
		}
		&:nth-child(3) {
			position: relative;
			top: -2px;
			transform: rotate(-45deg);
		}
	}
	&.closed > div {
		width: 20px;
		left: 5px;
		&:nth-child(1) {
			position: relative;
			top: -5px;
		}
		&:nth-child(2) {
			position: relative;
			top: 0px;
		}
		&:nth-child(3) {
			position: relative;
			top: 5px;
		}
	}
}
.overlay {
	position: absolute;
	top: 56px;
	left: 0px;
	width: 100vw;
	height: calc(100vh - 56px);
	overflow-y: auto;
	display: flex;
	justify-content: flex-end;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	> .overlayContent {
		width: min-content;
		transition: 0.2s;
		transition-property: background-color;
		&.dark {
			background-color: #3d3d3d;
		}
		&.light {
			background-color: #f0f0f0;
		}
	}
}
